/*
 *  * clearfix
 *   * http://kojika17.com/2011/04/floatclearfix.php
 *    * 20110406クラスなし修正版
 *     */
*:after {
	  display:block;
	    clear:both;}

	element:after {content:"";} /* clearfix */
body,html {
	background:#ccc;
	color:#999;
}
footer {
	width:854px;
	margin:0 auto;
}
#logo {
	background:url('sfm.png');
	width:316px;
	height:26px;
}
#search {
	margin:10px;
}
#next_block {
	width:180px;
	height:135px;
	display:block;
	color:#888;
	text-align:center;
	line-height:135px;
}
.thumb_box {
	float:left;
	position:relative;
	display:block;
	-webkit-transition:all 500ms ease-in-out;
	+filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
}
.thumb_box:hover {
	+filter: grayscale(0%); 
	-webkit-filter: grayscale(0%);
}
#title {
	width:854px;
	margin:0 auto;
	color:#555;
	font-size:1.5em;
}
#player {
	background:#222;
	width:100%;
	border-top:3px double #555;
	border-bottom:3px double #444;
	margin:0 0 3px;
}
#player object {
	border:none;
	width:854px;
	margin:0 auto;
	padding:80px 0 100px;
	display:block;
}
#embed {
	-webkit-transition:opacity 1s ease-in-out;
	transition:opacity 1s ease-in-out;
}
.shade {
	opacity:0.1;
}
footer {
	height:50px;
}
